@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

:root { 
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

body {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header > h1 {
    font-size: 90px;
    font-family: var(--fonte2);
    font-weight: normal;
    font-variant: small-caps;
}

section.normal {
    padding-top: 5vh;
    padding-bottom:5vh;
    padding-left: 40px;
}

section > p {
    font-family: var(--fonte3);
    font-size: 170%;
    max-width: 400px;
}

section#img01 {
    background-image: url('../imagens/noivos1.jpeg');
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    max-width: 300px;
    border-radius: 15px;
    text-shadow: 1px 1px 10px black;
    padding: 10px;
    
}

section.imagem {
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.534);
    padding: 65px 30px;
    background-position: center center;
}

section#img02 {
    background-image: url('../imagens/biblia.jpg');
}

footer {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-family: var(--fonte1);
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}